@import url("https://fonts.googleapis.com/css?family=Dosis|Odibee+Sans|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme|Boogaloo|Bubblegum+Sans|Cherry+Cream+Soda&display=swap");



/*
font-family: 'Poppins', ;
font-family: 'Odibee Sans', ;
font-family: 'Dosis', ;
font-family: 'Acme', sans-serif;
font-family: 'Boogaloo', cursive;
font-family: 'Bubblegum Sans', cursive;
font-family: 'Cherry Cream Soda', cursive;
*/

/*
joanna's blue scheme:
#576490 dark blue
#7796CB periwinkle
#A3BCF9 baby blue
#D1D2F9 lylac
#c9CAD9 tangrey

*/



.navbar {max-height:90px !important}